# Azure TTS
AZURE_TTS_KEY=
AZURE_TTS_REGION=eastasia

# TTSMaker（如有API Key，可配置，否则留空）
TTSMAKER_API_KEY=your_ttsmaker_api_key

# LLM
LLM_PROVIDER=ollama   # openai, ollama, deepseek
OPENAI_API_KEY=sk-xxx
OLLAMA_API_BASE=http://localhost:11434
DEEPSEEK_API_KEY=xxx
OLLAMA_MODEL="qwen2.5:7b"
ZHIPU_API_KEY=YOUR_ZHIPU_API_KEY
ZHIPU_MODEL_NAME=

# Serverless
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

GITHUB_ID=
GITHUB_SECRET=